.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
conf/nginx/cache/ngx_pagespeed/*
/conf/databases/*
/public/bower_components
/public/build
/public/uploads
mix-manifest.json
